.r-app-bar {
  transition: all 0.3s ease-in-out;

  z-index: 2;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: fixed;

  padding: 1rem;

  width: calc(100% - 2rem);
  height: 2rem;
  background-color: white;
  color: black;
}
