.introduction {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  .introduction-icon {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 100px;
  }
  .introduction-title {
    font-size: 3rem;
    font-weight: 500;
  }
  .introduction-desc {
    font-size: 1.25rem;
    color: #666666;
  }
  .introduction-btns-box {
    display: flex;
    justify-content: space-evenly;
    width: calc(100% - 12.5rem);
    margin: 100px 0;
  }
  .introduction-footer {
    font-family: "Times New Roman", Times, serif;
    color: #1b1a1b;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
