@import "@/assets/stylesheets/transition";

.s-list {
  .s-list-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0 0.5rem;

    position: relative;
    height: 32px;
    border-radius: 8px;
    .s-list-downicon {
      position: absolute;
      right: 0;
    }
  }
}
