@import "@/assets/stylesheets/colors.scss";

.s-table {
  display: flex;
  flex-direction: column;

  width: max-content;

  outline: 1px solid $s-table-border;
  border-radius: 0.25rem;
  .s-table-header {
    display: flex;
    width: max-content;
    .s-table-th {
      padding: 0.5rem 0.75rem;
      border-right: 1px solid $s-table-border;
      border-bottom: 1px solid $s-table-border;
    }
    .s-table-th:last-child {
      border-right: none;
    }
  }
  .s-table-body {
    .s-table-tr {
      display: flex;
      border-bottom: 1px solid $s-table-border;
      .s-table-td {
        padding: 0.5rem 0.75rem;
        border-right: 1px solid $s-table-border;
      }
      .s-table-td:last-child {
        border-right: none;
      }
    }
    .s-table-tr:last-child {
      border-bottom: none;
    }
  }
}
